/* 引入字體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 顏色 */
:root {
  --primary-400:#57a203;
  --primary-100:#F5FEE7;
  --neutral-white:#FFFFFF;
  --neutral-100:#F8F9FA;
  --neutral-300:#DEE2E6;
  --neutral-600:#6C757D;
  --neutral-900:#212529;

}

/* 標籤基本樣式 */
*, *::before, *::after {
  box-sizing: border-box;
}

img {
  vertical-align:middle;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}

body{
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: var(--neutral-900);
}

/* 通用樣式 */
.container {
  width: 856px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.tac {
  text-align: center;
}

.h1 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}

.h2 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
}

.h3 {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
}

.h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}

.h5 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

.h6 {
  line-height: 1.2;
  font-weight: 700;
}

.text-sm {
  font-size: 14px;
  font-weight: 400;
}

.text-md {
  font-weight: 500;
}

.text-white {
  color: var(--neutral-white);
}

.text-primary-400 {
  color: var(--primary-400);
}

.bg-primary-100 {
  background-color: var(--primary-100);
}

.text-neutral-600 {
  color: var(--neutral-600);
}

.bg-neutral-100 {
  background-color: var(--neutral-100);
}

.p-32 {
  padding: 32px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pe-8 {
  padding-right: 8px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}



/* 頁面樣式設定 */
/* header */
.header {
  background-image: url(./img/品牌故事geader.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 152px 0;
  text-align: center;
}

.quoto{
  border-radius: 12px;
  text-align: center;
}

/* main */
.section-underline {
  border-bottom:1px solid var(--neutral-300);
}

/* 品牌介紹 */
.intro .intro-img {
  width: 1076px;
  margin-right: -110px;
  margin-left: -110px;
}

/* 品牌歷程 */
.history-list {
  list-style-type: disc;
  padding-left: 24px;
}

.history-line {
  border-left: 1px solid var(--neutral-900);
  padding-left: 8px;
}

/* 品牌理念 */
.concept-line {
  padding-left: 12px;
  border-left: 3px solid var(--neutral-300);
}

/* 品牌小故事 */
.story a {
  text-decoration: underline;
  text-underline-offset:4px;
  color: var(--primary-400);
}

.story a:hover {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.bi {
  vertical-align: bottom;
}


