/* 引入字體 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* ICON */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* 其他CSS */
@import "./reset.css";
@import "./variables.css";
@import "./base.css";
@import "./utils.css";

/* 麵包屑導覽  */
.breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    padding: 0 12px;
    color: var(--neutral-300);
    font-weight: 700;
}

.breadcrumb-item {
    display: flex;
    font-weight: 500;
}

.breadcrumb-link {
    color: var(--neutral-600);
}

@media (max-width: 767px) {
    .breadcrumb-item + .breadcrumb-item::before {
        padding: 0 8px;
        font-size: 16px;
    }
    .breadcrumb-item {
        font-size: 14px;
    }
}
